	#MenuLeft {width: 180px; margin: 6px;}
	#MenuLeft a {text-decoration: none;}
	#MenuLeft div {padding: 6px;}
	#MenuUserBlock {border: 1px solid #CFD4D8; background: #EFEFEF;}
	#MenuItemBlock ul {list-style-type: disc;}
	
	/* ############################ */
	
	.modalItem {border: 1px solid #BCBCBC; height: 21px;}
	.modalItem:disabled {background: #E5E5E5;}
	.modalItem:enabled {background: #FFFFFF;}
	
	#UnitMenu {
		position: absolute;
		left: 0px;
		top: 0px;
		border: 1px solid black;
		box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.6);
		background: #F0F0FC;
		padding: 3px;
		/*width: 280px; z-index: 1000;*/
		display: none;
	}
	
	#UnitMenu td {height: 21px;}
	#UnitMenu a {color: black; text-decoration: none; display: block; height: 100%; width: 100%;}
	#UnitMenu a:hover {background-color: #5AB7E3; color: white;}
	
	#apex_layout_1119258413661121767 {margin: auto;}
	#apex_layout_1118666109938770361 {margin: auto;}
	#apex_layout_1118764410415779983 {margin: auto;}
	#apex_layout_1103822925218689572 {margin: auto;}
	#ButtonBlock {margin: auto;}
	#DivMain {overflow-y: scroll;}
	
	.LineCenter {
		border: 0;
		height: 1px;
		background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(100,100,100,1), rgba(0,0,0,0));
		background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(100,100,100,1), rgba(0,0,0,0));
		background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(100,100,100,1), rgba(0,0,0,0));
		background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(100,100,100,1), rgba(0,0,0,0));
	}
	
	.LineLeft {
		border: 0;
		height: 1px;
		background-image: -webkit-linear-gradient(left, rgba(100,100,100,1), rgba(0,0,0,0.25), rgba(0,0,0,0));
		background-image:    -moz-linear-gradient(left, rgba(100,100,100,1), rgba(0,0,0,0.25), rgba(0,0,0,0));
		background-image:     -ms-linear-gradient(left, rgba(100,100,100,1), rgba(0,0,0,0.25), rgba(0,0,0,0));
		background-image:      -o-linear-gradient(left, rgba(100,100,100,1), rgba(0,0,0,0.25), rgba(0,0,0,0));
	}